<% content_for :title, "Editing productcd" %>

<h1>Editing productcd</h1>

<%= render "form", productcd: @productcd %>

<br>

<div>
  <%= link_to "Show this productcd", @productcd %> |
  <%= link_to "Back to productcds", productcds_path %>
</div>
