<% content_for :title, "Editing User" %>

<div class="container mt-4">
  <h1 class="title is-1 has-text-centered mb-6">Editing User</h1>

  <%= render "form", user: @user %>

  <div class="mt-4">
    <div class="buttons">
      <%= button_to "Show this user", @user, method: :get, class: "button is-info is-medium" %>
      <%= button_to "Back to users", users_path, method: :get, class: "button is-secondary is-medium" %>
    </div>
  </div>
</div>
