<% content_for :title, "New user" %>

<h1 class="title">Create new user</h1>

<%= render "form", user: @user %>

<br>

<button class="button is-link">
  <%= link_to "Back to users", users_path%>
</button>
