<section class="section">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered mb-6">Test App using Ruby on Rails</h1>
            <div class="buttons is-centered">
            <%= link_to "List all users", users_path, class: "button is-primary is-medium mr-4" %>
            </div>
        </div>
        </div>
    </div>
</section>